<header class="header">
	<div class="header__content-left">
		<a class="logo"
		   href="index.html">
			<img class="logo__img"
				 src="~/images/Logo.png"
				 alt="Логотип" />
		</a>

		<div class="dropdown">
			<div class="dropdown__btn btn">
				<a class="btn__link"
				   href="#">Шуя</a>
			</div>
			<ul class="dropdown__list">
				<li class="dropdown__item">
					<a class="dropdown__link btn__link"
					   href="#">Иваново</a>
				</li>
			</ul>
		</div>

		<div class="adress">
			<a class="adress__link"
			   target="_blank"
			   rel="noopener noreferrer"
			   data-icon="maps"
			   href="https://yandex.ru/maps/org/may/154904951067/?ll=41.396282%2C56.833698&amp;source=wizbiz_new_map_single&amp;z=17">
				<div class="adress__city">
					<div>Шуя</div>
					<div class="adress__street">
						ул. Кооперативная, 16В
					</div>
				</div>
			</a>
		</div>

		<div class="phone">
			<div class="phone__text">
				<a class="phone__link"
				   href="tel:+79605074888">+7 (960) 507-48-88</a>
			</div>
		</div>
	</div>
	<div class="header__content-right">
		<div class="icons">
			<a class="icons__item header__icons"
			   href="#">
				<div class="icons__layer header__layer">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span class="fab fa-facebook-f header__fab"></span>
				</div>
				<div class="icons__text header__text">Facebook</div>
			</a>

			<a class="icons__item header__icons"
			   href="#">
				<div class="icons__layer header__layer">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span class="fab fa-twitter header__fab"></span>
				</div>
				<div class="icons__text header__text">Twitter</div>
			</a>

			<a class="icons__item header__icons"
			   href="#">
				<div class="icons__layer header__layer">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span class="fab fa-instagram header__fab"></span>
				</div>
				<div class="icons__text header__text">
					Instagram
				</div>
			</a>

			<a class="icons__item header__icons"
			   href="#">
				<div class="icons__layer header__layer">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span class="fab fa-vk header__fab"></span>
				</div>
				<div class="icons__text header__text">
					VKontakte
				</div>
			</a>

			<a class="icons__item header__icons"
			   href="#">
				<div class="icons__layer header__layer">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span class="fab fa-odnoklassniki header__fab"></span>
				</div>
				<div class="icons__text header__text">
					Odnoklassniki
				</div>
			</a>
		</div>

		<div class="search">
			<input class="search__input"
				   placeholder="Поиск" />
			<div class="btn">
				<a class="btn__link"
				   href="#">Поиск</a>
			</div>
		</div>
	</div>
</header>