<div class="time">
	<div class="timeBtn btn active">
		<span class="timeBtn__link btn__link" href="#">Сегодня</span>
	</div>
	<div class="timeBtn btn">
		<span class="timeBtn__link btn__link" href="#">Завтра</span>
	</div>
	<div class="timeBtn btn">
		<span class="timeBtn__link btn__link" href="#"></span>
	</div>
	<div class="timeBtn btn">
		<span class="timeBtn__link btn__link" href="#"></span>
	</div>
	<div class="timeBtn btn">
		<span class="timeBtn__link btn__link" href="#"></span>
	</div>
	<div class="timeBtn btn">
		<span class="timeBtn__link btn__link" href="#"></span>
	</div>
</div>

<script src="~/js/timeMenu.js" asp-append-version="true"></script>