<section class="footer">
	<nav class="footer__menu menu">
		<ul class="footer__list menu__list">
			<p class="footer__title">Меню</p>
			<li class="footer__item menu__item">
				<a href="#"
				   class="footer__link menu__item menu__link">Афиша</a>
			</li>
			<li class="footer__item menu__item">
				<a href="#"
				   class="footer__link menu__item menu__link">Сеансы</a>
			</li>
			<li class="footer__item menu__item">
				<a href="#"
				   class="footer__link menu__item menu__link">Пушкинская карта</a>
			</li>
			<li class="footer__item menu__item">
				<a href="#"
				   class="footer__link menu__item menu__link">Новости</a>
			</li>
			<li class="footer__item menu__item">
				<a href="#"
				   class="footer__link menu__item menu__link">Акции и скидки</a>
			</li>
			<li class="footer__item menu__item">
				<a href="#"
				   class="footer__link menu__item menu__link">Кинотеатр</a>
			</li>
			<li class="footer__item menu__item">
				<a href="#"
				   class="footer__link menu__item menu__link">Контакты</a>
			</li>
		</ul>

		<ul class="footer__list menu__list">
			<p class="footer__title">Мы в социальных сетях</p>
			<div class="icons">
				<a class="icons__item"
				   href="#">
					<div class="icons__layer">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fab fa-facebook-f"></span>
					</div>
					<div class="icons__text">Facebook</div>
				</a>

				<a class="icons__item"
				   href="#">
					<div class="icons__layer">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fab fa-twitter"></span>
					</div>
					<div class="icons__text">Twitter</div>
				</a>

				<a class="icons__item"
				   href="#">
					<div class="icons__layer">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fab fa-instagram"></span>
					</div>
					<div class="icons__text">Instagram</div>
				</a>

				<a class="icons__item"
				   href="#">
					<div class="icons__layer">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fab fa-vk"></span>
					</div>
					<div class="icons__text">VKontakte</div>
				</a>

				<a class="icons__item"
				   href="#">
					<div class="icons__layer">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fab fa-odnoklassniki"></span>
					</div>
					<div class="icons__text">Odnoklassniki</div>
				</a>
			</div>
		</ul>

		<ul class="footer__list menu__list">
			<p class="footer__title">Контакты</p>
			<div class="footer__adress adress">
				<a class="footer__link adress__link"
				   target="_blank"
				   rel="noopener noreferrer"
				   data-icon="maps"
				   href="https://yandex.ru/maps/org/may/154904951067/?ll=41.396282%2C56.833698&amp;source=wizbiz_new_map_single&amp;z=17">
					<div class="footer__text adress__city">
						<div>Шуя</div>
						<div class="adress__street">
							ул. Кооперативная, 16В
						</div>
					</div>
				</a>
			</div>
			<div class="footer__phone phone">
				<div class="footer__text phone-text">
					<a class="phone__link"
					   href="tel:+79605074888">+7 (960) 507-48-88</a>
				</div>
			</div>
			<div class="footer__work-time">
				<p class="footer__title">Время работы</p>
				<p>Ежедневно с 09:00 до 02:00</p>
			</div>
		</ul>
	</nav>
	<div class="footer__btn btn">
		<a class="footer__link btn__link"
		   href="#">Версия для слабовидящих</a>
	</div>
	<p class="footer__copyright">© 2023. Все права защищены</p>
	<p class="footer__info">
		Все сеансы начинаются с рекламно-информационного блока.
		Точную продолжительность сеансов можно уточнить в
		кинотеатре.
	</p>
</section>