.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
        padding: 10px 20px;
        margin-left: 10px;
        border: 1px solid $primary-color-plus;
        border-radius: 30px;
        background: #fff;
        font-size: 12px;
        outline: none;
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        max-width: 200px;
        min-width: 200px;

        &:focus {
            border-color: $primary-color-plus;
            box-shadow: 0 0 1px 2px $primary-color-plus;
        }
    }
}
