$primary-color: #87ceeb;
$primary-color-plus: #419cec;

// colors for social icons
$color-blue: #0165e1;
$color-light-blue: #1d9bf0;
$color-pink: #c13584;
$color-dark-blue: #4c75a3;
$color-orange: #ed812b;
